@font-face {
font-family: "Poppins";
src: url("/Front-End/font/Poppins/Poppins-Black.ttf")format("truetype");
}


body{
   margin: 0%;
}

.retangulo {
    
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 7%;
    top: 0%;
    margin:0%;
    background: #12306A;
      
}


.Titulo-login {

    width: center; /* Defina a largura desejada para o contêiner */
    color: #ffffff;
    text-align: center;
    font-family: Poppins;
    font-size: 190%;
    top: 2%;
    font-style: normal;
    line-height: normal;
    
}

.Retangulo-login {

    position: absolute;
    width: 30%;
    height: 65%;
    top: 19%;
    left: 35%;

    border-radius: 27px;
     
    background-color: #12306A;
}


.login {

    color: #ffffff;
    position: absolute;
    left: 15%;
    top: 20%;
    
    font-size: 120%;
    font-family: Poppins;
}

.input-login {
    position: absolute;
    width: 60%;
    left: 13%;
    top: 25%;

    border: 8px solid #ccc;
    border-radius: 22px;
    background-color: #ccc;
    color: #333;
    padding: 10px;
    margin: 10px;
}


.Senha {

    color: #ffffff;
    position: absolute;
    left: 15%;
    top: 45%;
     
    font-size: 120%;
    font-family: Poppins;

}

.input-senha {
    position: absolute;
    width: 60%;
    left: 13%;
    top: 50%;


    border: 8px solid #ccc;
    border-radius: 22px;
    background-color: #ccc;
    color: #333;
    padding: 10px;
    margin: 10px;
}



.Botao {

    color: #ffffff;
    text-align: center;
    font-family: Poppins;
    line-height: 200%;
    

    position: absolute;
    width: 77%;
    height: 8%;
    top: 72%;
    left: 12%;
    background-color: #134dc1;
    border-radius: 27px;

    cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */

}

.Botao:hover
{
 background-color: blue;

}

h3 {
 
    color: #ffffff;
    position: absolute;
    left: 15%;
    top: 79%;
    font-family:Arial, Helvetica, sans-serif;


}

h3 {

    color: #ffffff;
    outline: white;

}